*{
    padding: 0;
    margin: 0;
    font-style: ;
}
.main {
    background-color: #191b1c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#search{
    width: 350px;
    height: 50px;
    font-size: 30px;
    color: #83de83;
    background-color: #191b1c;
    border-color: white;
    outline: none;
    margin-bottom: 20px;
}
.box {
    min-width: 650px;
    height: 450px;
    background-color: #0a0a0a;
    display:grid;
    grid-template-columns: 180px auto;

}
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image  {
   width: 160px;
   height: 160px;
   border-radius: 80px;
  
}
.content {
    color: #05f55d;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-rows: 1 1;
 
}
.name {
    margin-top: 60px;
}
.status {
    margin-top: 60px;
}
.following {
    margin-left: 18px;
}


 